#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#buttonInsert {
	position:relative;
	top:50%; 
	left:37%;
}

#pat {
	position:relative;
	top:50%; 
	left:15%;
}

#don {
	position:relative;
	top:50%; 
	left:50%;
}