<h1 style="text-align: center; color: #000066">Welcome to Blood Donation website</h1>
<br>
<h3 id = "out" style="text-align: center; color: #3399ff;"></h3>
<br>
<div id = "form" style= "display: none;">

	<button id = "buttonInsert" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Please Insert Your Information</button>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Please Insert Your Information</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="firstName">First Name</label>
							<input type="firstName" class="form-control" id="firstName" placeholder="Enter Your first name">
						</div>
						<div class="form-group">
							<label for="lastName">Last Name</label>
							<input type="lastName" class="form-control" id="lastName" placeholder="Enter Your Last name">
						</div>
						<div class="form-group">
							<label for="contact">Contact Number</label>
							<input type="number" class="form-control" id="number" placeholder="Enter Contact Number">
						</div>
						<div class="form-group">
							<label for="email">Email address</label>
							<input type="email" class="form-control" id="email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="bloodGroup">Blood Group:</label>
							<input type="blood" class="form-control" id="bloodGroup" placeholder="Enter Blood Group">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" (click) = "addUser()">Submit</button>
				</div>
			</div>

		</div>
	</div>

</div>


<br>
<div id="viewDiv" (click) = "div_show()" (click) = "geoFindMe()" >
</div>
